@media (max-width:768px){

    header{
        padding:0%;
    }

    .header__nav{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .header__nav__list{
        display: flex;
        justify-content: space-evenly;
        width:100%;
    }

    .header__nav__list__item{
        width: 50%;
    }


    .header__nav__list__link::before, .header__nav__list__link::after {
        content: '';
        position: absolute;
        top: 40px;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: var(--color-filter-border);
        transition: 0.3s ease-in-out;
    }


    .search-form{
        display: flex;
    }

    .search-form__submit{
        border-radius: var(--fontsize-paragraph);
        width: 56px;
    }

    .search-form__submit--icon{
        display: inline-block;
    }

    .search-form__submit--text{
        display: none;
    }


    .tile-masonry__item,
    .tile-grid__item{
        flex: 1 1 100%;
    }

    .footer{
        flex-direction: column;
    }


}