@media (max-width:768px){


    /*==== Mobile navigation changes =====*/
    
    header{
        padding:0%;
    }

    .header-nav{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .header-nav__list{
        display: flex;
        justify-content: space-evenly;
        width:100%;
    }

    .header-nav__list__item{
        width: 50%;
    }
    

    .header-nav__list__link::before, 
    .header-nav__list__link::after {
        content: '';
        position: absolute;
        top: auto;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: var(--color-filter-border);
        transition: 0.3s ease-in-out;
        bottom: -24px;
    }

    /*====== Mobile search form changes ======*/

    .search-form{
        display: flex;
    }

    .search-form__field{
        width: 100%;
    }
    .search-form__submit{
        border-radius: var(--fontsize-paragraph);
        width: 56px;
        flex-shrink: 0;
        margin-left:-14px;
    }

    .search-form__submit--icon{
        display: inline-block;
    }

    .search-form__submit--text{
        display: none;
    }

    /*======= Tile masonry homogeneous display vertically ======*/

    .tile-masonry__item,
    .tile-grid__item{
        flex: 1 1 100%;
    }


    /*==== Footer display vertically ====*/

    .footer{
        flex-direction: column;
    }


}