@media (max-width:991px) {


    /*======== Filter button display changes ======== */
    .filter{
        flex-direction: column;
        align-items: normal;
    }


    /*==== Accomodation section changes ==== */

    .dual-section{
        flex-direction: column-reverse;
    }

    .dual-section__part{
        padding: 0px;
    }

    .dual-section--large{
        background-color: white;
    }

    .dual-section--small{
        margin: 0 -5.5%;
        padding: 32px 6%;
        border-radius: 0px;
    }

    /*===== Tile Masonry display horizontally ========*/

    .tile-masonry{
        flex-direction: row;
        height: auto;
    }
    
}